Name- Mohona Das<br>
Roll No-1905756<br>
TT_LAB_2<br>
<hr>

##STRING

1) Write a Python Program to count the number of vowels in a string.

In [ ]:
a=input("Enter String ")
c=0
for i in range(len(a)):
  if a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u':
    c+=1
print("Count of vowels",c)

Enter String qwertyuio
Count of vowels 4

2) Write a Python Program to replace all occurrences of ‘a’ with ‘@’ in a string.

In [ ]:
s=input("Enter String ")
s1=s.replace('a','@')
print(s1)

Enter String qwertyabfa
qwerty@bf@

3) Write a Python Program to calculate the length of a string without using a library function.

In [ ]:
s=input("Enter String ")
c=0
for i in s:
  c+=1
print("Length:",c)

Enter String qwerty
Length: 6

4) Write a Python Program to take in two strings and display the smallest string without using the library function.

In [ ]:
s1=input("Enter String ")
s2=input("Enter String ")
l1=l2=0
for i in s1:
  l1+=1
for i in s2:
  l2+=1
if l1>l2 :
  print(s2)
else:
  print(s1)

Enter String awer
Enter String y
y

5) Write a Python Program to count the number of lowercase and uppercase letters in a string.

In [ ]:
a=input("Enter String ")
l,u=0,0
for i in a:
  if i.islower():
    l+=1
  if i.isupper():
    u+=1
print("No o lower case ",l)
print("No of upper case ",u)

Enter String ghKL
No o lower case  2
No of upper case  2

6) Write a Python Program to count the number of digits and characters in a string.

In [ ]:
s=input("Enter a string ")
a=d=0
for i in s:
  if i.isdigit()==True:
    d+=1
  elif i.isalpha()==True:
   a+=1
print(f"No of digit : {d}")
print(f"No of Character : {a}")

Enter a string qw45
No of digit : 2
No of Character : 2

7) Write a Python program to get a string made of the first 3 and the last 3 chars

In [ ]:
s=input("Enter a string ")
if len(s)>=3:
  s1=s[0:3]+s[len(s)-3:]
  print(s1)
else :
  s2=str()
  print(s2)

Enter a string 4

8) Write a Python program to count the occurrences of each word in a given string sentence.

In [ ]:
s=input("Enter a string : ")
c=dict()
w=s.split()
for i in w:
  if i in c:
    c[i]+=1
  else:
    c[i]=1
print(c)

Enter a string : the cat is a good cat
{'the': 1, 'cat': 2, 'is': 1, 'a': 1, 'good': 1}

9) Write a Python program to check if a string is Palindrome or not.

In [ ]:
s = input("Enter the string ")
s1=s[::-1]
if s==s1:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter the string wer
Not Palindrome

 10)Write a Python program to reverse a string.

In [ ]:
s = input("Enter the string ")
s1=s[::-1]
print(s1)

Enter the string hello
olleh

<hr>

##LISTS
<hr>

1) Write a Python Program to find the print sum, average of all numbers, smallest and largest element of a list.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
largest  = max(l1)
smallest = min(l1)
average = sum(l1) / len(l1)
print("Largest ",largest)
print("Smallest ",smallest)
print("Average ",average)
print("Sum ",sum(l1))

Enter the number of elements:4
Enter the element: 2
Enter the element: 4
Enter the element: 5
Enter the element: 6
Largest  6
Smallest  2
Average  4.25
Sum  17

2) Write a Python Program to find the 2ndlargest and 3rdsmallest number in a list.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
l1.sort()
print("3rd smallest:",l1[2])
print("2nd largest:",l1[n-2])

Enter the number of elements:4
Enter the element: 3
Enter the element: 2
Enter the element: 5
Enter the element: 6
3rd smallest: 5
2nd largest: 5

3) Write a Python Program to generate random numbers from 1 to 50 and append them to the list.

In [ ]:
import random
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    x=random.randrange(1, 51)#1-50
    l1.append(x)
print(l1)

Enter the number of elements:5
[1, 14, 37, 37, 9]

4) Write a Python Program to put even and odd elements in a list into two different lists.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
l2=[x for x in l1 if (x%2)==0]
l3=[x for x in l1 if(x%2)!=0]
print("Even list",l2)
print("Odd list",l3)

Enter the number of elements:6
Enter the element: 3
Enter the element: 4
Enter the element: 2
Enter the element: 78
Enter the element: 5
Enter the element: 1
Even list [4, 2, 78]
Odd list [3, 5, 1]

5) Write a Python Program to merge two lists and sort it.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
l2=list()
n2= int(input ("Enter the number of elements:"))
for i in range(n2):
    ele2 = int (input ("Enter the element: "))
    l2.append(ele2)
l3=l1+l2
l3.sort()
print(l1)
print(l2)
print(l3)

Enter the number of elements:4
Enter the element: 1
Enter the element: 4
Enter the element: 6
Enter the element: 2
Enter the number of elements:3
Enter the element: 3
Enter the element: 2
Enter the element: 7
[1, 4, 6, 2]
[3, 2, 7]
[1, 2, 2, 3, 4, 6, 7]

6) Write a Python Program to remove the duplicate items from a list.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
s=set(l1)
l1=list(s)
print(s)

Enter the number of elements:5
Enter the element: 2
Enter the element: 4
Enter the element: 2
Enter the element: 2
Enter the element: 4
{2, 4}

7) Write a Python Program to take a list of words and print the length of the longest word.

In [ ]:
s=input("Enter a string : ")
max=0
l1=[]
w=s.split()
for i in w:
  if len(i)>max:
    max=len(i)
print(max)

Enter a string : hello world is so great i am grateful
8

8) Write a Python program to count the number of strings where the string length is 3 or more and the first and last character are same from a given list of strings. 
Input : ['ab', 'aba', 'abaa', 'baba'] 
Output : 2

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = (input ("Enter the element: "))
    l1.append(ele)
for x in l1:
  if len(x)>=3 and x[0]==x[len(x)-1] :
    print(x)

Enter the number of elements:5
Enter the element: qwert
Enter the element: aba
Enter the element: tuipt
Enter the element: rr
Enter the element: ere
aba
tuipt
ere

9) Write a Python program to check a list is empty or not.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele = int (input ("Enter the element: "))
    l1.append(ele)
l2 = []
if l1==l2:
    print("list is empty")
else:
    print("list is not empty")
#0 -> empty

Enter the number of elements:0
list is empty

10) Write a Python program to take both strings and numbers in a list 
a)create separate lists of strings and numbers. 
b)Sort the strings list in ascending order 
c)Sort the strings list in descending order 
d)Sort the number list from lowest to highest 
e)Sort the number list from highest to lowest

In [ ]:
l1=list()
ln=list()
ls=list()
n = int(input ("Enter the number of elements:"))
for i in range(n):
    ele =(input ("Enter the element: "))
    l1.append(ele)
for i in l1:
  if (i).isalpha():
    ls.append(i)
  else:
    ln.append((int)(i))
print("Original list: " ,l1)
print("list of strings",ls)
print("List of nos ",ln)

ls.sort()
print("In Lexical Order",ls)

ls.sort(reverse=True)
print("In Reverse Lexical Order",ls)

ln.sort()
print("In Ascending Order",ln)

ln.sort(reverse=True)
print("In Descending Order",ln)

Enter the number of elements:6
Enter the element: a
Enter the element: 3
Enter the element: g
Enter the element: 7
Enter the element: 4
Enter the element: d
Original list:  ['a', '3', 'g', '7', '4', 'd']
list of strings ['a', 'g', 'd']
List of nos  [3, 7, 4]
In Lexical Order ['a', 'd', 'g']
In Reverse Lexical Order ['g', 'd', 'a']
In Ascending Order [3, 4, 7]
In Descending Order [7, 4, 3]

11) Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

In [1]:
lst=[]
lst1=[1,2,3,4,5,6,7]
lst2=[3,4,5,6,7,8,9,0,1,2,3]
i=0
j=0
while i<len(lst1) and j<len(lst2):
  lst.append(lst1[i]+lst2[j])
  i+=1
  j+=1
while i<len(lst1):
  lst.append(lst1[i])
  i+=1
while j<len(lst2):
  lst.append(lst2[j])
  j+=1
print(lst)

[4, 6, 8, 10, 12, 14, 16, 0, 1, 2, 3]

12)Given a Python list, write a program to remove all occurrences of item 20. 
Given: 
list1 = [5, 20, 15, 20, 25, 50, 20]

In [ ]:
l1=list()
n = int(input ("Enter the number of elements: "))
for i in range(n):
    ele = int(input ("Enter the element: "))
    l1.append(ele)
val=int(input("Enter the value to remove: "))
l=list()
l=[i for i in l1 if i != val]
print(l)

Enter the number of elements: 5
Enter the element: 2
Enter the element: 6
Enter the element: 3
Enter the element: 2
Enter the element: 4
Enter the value to remove: 2
[6, 3, 4]

<hr>

##TUPLES & SETS
<hr>

1. Write a Python program to convert a tuple to a string..

In [ ]:
t1=(5,7,2.0,7j,'j')
s=''
for i in t1:
  s=s+str(i)
print(s)

572.07jj

2. Write a Python program to find the repeated items of a tuple

In [ ]:
l1=list()
n = int(input ("Enter the number of elements: "))
for i in range(n):
    ele =(input ("Enter the element: "))
    l1.append(ele)
c=0
l=list()
t1=tuple(l1)
for i in t1:
  c=t1.count(i)
  if c>1 :
    if i not in l:
      l.append(i)
print(l)

Enter the number of elements: 4
Enter the element: a
Enter the element: g
Enter the element: e
Enter the element: a
['a']

3. Write a Python program to convert a list to a tuple..

In [ ]:
l1=list()
n = int(input ("Enter the number of elements: "))
for i in range(n):
    ele = int(input ("Enter the element: "))
    l1.append(ele)
t1=tuple(l1)
print(t1,type(t1))

Enter the number of elements: 5
Enter the element: 2
Enter the element: 4
Enter the element: 5
Enter the element: 1
Enter the element: 8
(2, 4, 5, 1, 8)

4. Write a Python program to reverse a tuple.

In [ ]:
l1=list()
n = int(input ("Enter the number of elements: "))
for i in range(n):
    ele =(input ("Enter the element: "))
    l1.append(ele)
t1=tuple(l1)
rev_t=t1[::-1]
print(rev_t)

Enter the number of elements: 5
Enter the element: b
Enter the element: g
Enter the element: y
Enter the element: r
Enter the element: e
('e', 'r', 'y', 'g', 'b')

5. Write a Python program to remove an empty tuple(s) from a list of tuples

In [ ]:
l=[(), (), ('',), ('a', 'b'), ('a', '9.0', '5'), ('5.4')]
l=[t for t in l if t]
print(l)

[('',), ('a', 'b'), ('a', '9.0', '5'), '5.4']

6. Write a Python program to replace middle value of tuples in a list.

In [ ]:
a_list = [(1, 2), (3, 4), (5, 6)]

selected_items = [item[1] for item in a_list]
print(selected_items)

[2, 4, 6]

7. Write a Python program to get the 5th element and 5th element from last of a tuple.

In [ ]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[4],t[-5])

5 6

8. Write a Python program to check if two given sets have no elements in common.

In [ ]:
x = {1,2,3,4}
y = {4,5,6,7}

print("Original set elements:")
print(x)
print(y)
print("\nx and y have in common :")
if not x.isdisjoint(y):
  print("has same elements: ",x.intersection(y))
else:
  print("Not in common")

Original set elements:
{1, 2, 3, 4}
{4, 5, 6, 7}

x and y have in common :
has same elements:  {4}

 9. Write a Python program to check whether an element exists within a tuple.

In [ ]:
t=(1,2,'3')
#t=()
if t:
  print("present :",t)
else:
  print("Empty tuple")

present : (1, 2, '3')

10. Write a Python program to check if a given value is present in a set or not.

In [ ]:
s={3,4,7,9,5,'c'}
v=4
if v in s:
  print("Present")
else: 
  print("Absent")

Present

11. Write a Python program to check if a given set is superset of itself and superset of another given set.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
print(A,"\n",B)
print("A is a superset of B:",A.issuperset(B))
print("B is a superset of A:",B.issuperset(A))
print("B is a superset of  B:", B.issuperset(B))

{1, 2, 3, 4, 5}
 {1, 2, 3}
A is a superset of B: True
B is a superset of A: False
B is a superset of  B: True

12. Write a Python program to create a union, intersection, difference, symmetric difference of sets.

In [ ]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
print("Symetric Difference:",A.symmetric_difference(B))
print("A intersection B:",A.intersection(B))
print(" A union B:",A.union(B))
print("B-A:",B.difference(A))
print("A - B:",A.difference(B))

Symetric Difference: {'b', 'a', 'e'}
A intersection B: {'c', 'd'}
 A union B: {'b', 'a', 'c', 'd', 'e'}
B-A: {'e'}
A - B: {'a', 'b'}

13. Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [ ]:
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("Original sets:")
print(sn1)
print(sn2)
print("\nRemove the intersection of a 2nd set from the 1st set using difference_update():")
sn1.difference_update(sn2)
print("sn1: ",sn1)
print("sn2: ",sn2)
sn1 = {1,2,3,4,5}
sn2 = {4,5,6,7,8}
print("\nRemove the intersection of a 2nd set from the 1st set using -= operator:")
sn1-=sn2
print("sn1: ",sn1)
print("sn2: ",sn2)

Original sets:
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using difference_update():
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

Remove the intersection of a 2nd set from the 1st set using -= operator:
sn1:  {1, 2, 3}
sn2:  {4, 5, 6, 7, 8}

<hr>

##DICTIONARY
<hr>

1) Write a Python program to multiply all the items in a dictionary.

In [ ]:
d = {
    'value1': 5,
    'value2': 4,
    'value3': 3,
    'value4': 2,
    'value5': 1,
}
answer = 1
for i in d:
    answer = answer*d[i]
print(answer)

120

 2) Write a Python program to remove duplicates from Dictionary.

In [ ]:
test_dict = { 'name' : 'ABC', 'is' : 15, 'best' : 20, 'for' : 10, 'name' : 20}
print("The original dictionary is : " + str(test_dict))
temp = []
res = dict()
for key, val in test_dict.items():
	if val not in temp:
		temp.append(val)
		res[key] = val
print("The dictionary after removal : " + str(res))

The original dictionary is : {'name': 20, 'is': 15, 'best': 20, 'for': 10}
The dictionary after removal : {'name': 20, 'is': 15, 'for': 10}

 3) Write a Python program to combine two dictionary adding values for common keys. 
dict1 = {'k1': 10, 'k2': 20, 'k3':30} 
dict2 = {'k1': 30, 'k2': 20, 'k4':40} 
Sample output: Counter({'k1': 40, 'k2': 40, 'k4': 40, 'k3': 30})

In [2]:
dict1 = {'k1': 10, 'k2': 20, 'k3':30}
dict2 = {'k1': 30, 'k2': 20, 'k4':40}

for key,value in dict2.items():
  if key in dict1.keys():
    dict1[key]+=dict2[key]
  else:
    dict1[key]=dict2[key]
print(dict1)

{'k1': 40, 'k2': 40, 'k3': 30, 'k4': 40}

4) Write a Python program to find the highest 3 values of corresponding keys in a dictionary.

In [ ]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

5) Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string. 
Sample string : 'amazon' 
Expected output: {'a': 2, 'm': 1, 'z': t, 'o': 2, 'n': 1}

In [ ]:
str1 = input("Enter a string :")
my_dict = {}
for l in str1:
    my_dict[l] = my_dict.get(l, 0) + 1
print(my_dict)

Enter a string :amazon
{'a': 2, 'm': 1, 'z': 1, 'o': 1, 'n': 1}

6) Write a Python program to print a dictionary line by line.

In [ ]:
dict1 = {   'A': 5,'B': 7, 'C': 10, 'D': 8}
for key in dict1:
    print(key, ' : ',dict1[key])
#[print(key,':',value) for key, value in dict1.items()]

A  :  5
B  :  7
C  :  10
D  :  8

7) Write a Python program to replace dictionary values with their average

In [ ]:
dict1 = {"A" : 5, "B" : 8, "C" : 10, "D" : 8, "E" : 9}
l=[values for keys,values in dict1.items()]
a=sum(l)/len(l);
dict1={k:a for k in dict1.keys()}
print (dict1)

{'A': 8.0, 'B': 8.0, 'C': 8.0, 'D': 8.0, 'E': 8.0}

8) Write a Python program to drop empty Items from a given Dictionary. 
Original Dictionary:
{'c1': 'CS, 'c2': 'IT', 'c3': None} 
New Dictionary after dropping empty items: 
{'c1': 'CS', 'c2': 'IT'

In [ ]:
dict1 = {'c1': 'CS', 'c2': 'IT', 'c3':None}
dict2 = {key:value for (key, value) in dict1.items() if value is not None}
print(dict2)

{'c1': 'CS', 'c2': 'IT'}

9) Write a Python program to filter the height and width of students, which are stored in a dictionary. 
Original Dictionary: 
{'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)} Height > 6ft and Weight> 65kg: 
{'Ram': (6.2, 70)}

In [ ]:
dict={'Ram': (6.2, 70), 'Sita': (5.9, 65), 'Hari': (6.0, 68), 'Gopal': (5.8, 66)} 
result = {k: t for k, t in dict.items() if t[0] >=6.0 and t[1] >=70}
print(result)

{'Ram': (6.2, 70)}

<hr>
<hr>
<hr>