Name- Mohona Das<br>
Roll No-1905756<br>
TT_LAB_1<br>
<hr>

1) Write a Python program(WAPP) to input any two integers, and provide a menu to the user to select any of the options as add, subtract, multiply, divide and display the result accordingly.

In [23]:
n=True
while(n):
  print("""1 for add
  2 for substract
  3 for multiplication
  4 for division (floor)
  5 for division
  6 for modulous
  7 for Exit
  """ )
  choice=int(input("Enter choice: "))
  a=(int)(input("Enter a number "))
  b=(int)(input("Enter a number "))
  if choice==1:
    print(a+b)
  elif choice==2:
    print(a-b)
  elif choice==3:
    print(a*b)
  elif choice==4:
    print(a//b)
  elif choice==5:
    print(a/b)
  elif choice==6:
    print(a%b)
  elif choice==7:
    print("Exit")
    break
  else:
   print("Incorrect Choice")

1 for add
  2 for substract
  3 for multiplication
  4 for division (floor)
  5 for division
  6 for modulous
  7 for Exit

Enter choice:3
Enter a number4
Enter a number5
20
1 for add
  2 for substract
  3 for multiplication
  4 for division (floor)
  5 for division
  6 for modulous
  7 for Exit

Enter choice:7
Enter a number4
Enter a number6
Exit

2) WAPP to check if a year is leap year or not.

In [4]:
year=(int)(input("Enter year:"))
if (year % 400 == 0) and (year % 100 == 0):
  print("{} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
  print("{} is a leap year".format(year))
else:
  print("{} is not a leap year".format(year))

Enter year:2020
2020 is a leap year

3) WAPP to convert temperature from centigrade to Fahrenheit scale.

In [6]:
temp=(float)(input("enter temperature:"))
t=(((temp/5)*9)+32)
print(t)

enter temperature:-40
-40.0

4) WAPP to add two times in hour, minute & second format entered through the keyboard.

In [7]:
print("Enter Time 1 :")
h1=(int)(input("Hour : "))
m1=(int)(input("Minute : "))
s1=(int)(input("Second : "))
print("Enter Time 2 :")
h2=(int)(input("Hour : "))
m2=(int)(input("Minute : "))
s2=(int)(input("Second : "))
h3=h1+h2+(m1+m2+(s1+s2)//60)//60
m3=(m1+m2+(s1+s2)//60)%60
s3=(s1+s2)%60
print("Time 1 :",h1," Hour",m1," Minute and ",s1," Second")
print("Time 2 :",h2," Hour",m2," Minute and ",s2," Second")
print("Total Time :",h3," Hour &",m3," Minute and ",s3,"Second")

Enter Time 1 :
Hour : 5
Minute : 6
Second : 59
Enter Time 2 :
Hour : 4
Minute : 30
Second : 4
Time 1 : 5  Hour 6  Minute and  59  Second
Time 2 : 4  Hour 30  Minute and  4  Second
Total Time : 9  Hour & 37  Minute and  3 Second

 5) WAPP to check if the given number is Armstrong or not.

In [10]:
num = (int)(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit ** 3
  temp //= 10
if num == sum:
  print(num,"is an Armstrong number")
else:
  print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

 6)WAPP to find out the factors of a number. **bold text**

In [16]:
n=(int)(input("Enter a number"))
l1=[x+1 for x in range(n+1) if n%(x+1)==0]
print(l1)

Enter a number16
[1, 2, 4, 8, 16]

 7)WAPP to print all even numbers between 100 to 200 using a loop.

In [19]:
for i in range(100,200,2):
  print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

8) WAPP to find LCM of 2 numbers using a while loop.

In [24]:
x=(int)(input("Enter a number: "))
y=(int)(input("Enter a number: "))
if x > y:
  max= x
else:
  max = y
while(True):
  if((max % x == 0) and (max% y == 0)):
    lcm = max
    break
  max += 1
print("The L.C.M. is",lcm)

Enter a number: 4
Enter a number: 16
The L.C.M. is 16

9) WAPP to find out the distance between two coordinates (x1, y1) & (x2, y2).

In [25]:
import math
print("Enter Point 1")
x1=(int)(input("Enter X co-ordinate "))
y1=(int)(input("Enter Y co-ordinate "))
print("Enter Point 2")
x2=(int)(input("Enter X co-ordinate "))
y2=(int)(input("Enter Y co-ordinate "))
distance=math.sqrt(math.pow(x2-x1,2)+math.pow(y2-y1,2))
print("Distance ",distance)

Enter Point 1
Enter X co-ordinate 3
Enter Y co-ordinate 4
Enter Point 2
Enter X co-ordinate 5
Enter Y co-ordinate 6
Distance  2.8284271247461903

10)WAPP to find the multiplication table of any number using a for loop.

In [28]:
n=(int)(input("Enter a number "))
for i in range(1,11):
  print("{0} x {1} = {2} ".format(i,n,i*n))

Enter a number 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

11)WAPP to find Volume and Surface Area of Cylinder.

In [29]:
r=(float)(input("Enter a radius "))
v=(22*r*r*r)/7
print("Volume",v)
h=(float)(input("Enter the height"))
s=(2*22*r*(r+h))/7
print("Surface Area",s)

Enter a radius 7
Volume 1078.0
Enter the height2
Surface Area 396.0

12)WAPP to find the roots of a quadratic equation ax2+bx+c=0.

In [31]:
import math
a=(int)(input("Enter co-eff of x^2 "))
b=(int)(input("Enter co-eff of x "))
c=(int)(input("Enter constant "))
d=math.pow(b,2)-(4*a*c)
s= math.sqrt(abs(d))
if a == 0:
  print("Invalid")
if d > 0:
  print("Roots are real and different ")
  print((-b+s)/(2*a))
  print((-b-s)/(2*a))
elif d == 0:
  print("Roots are real and same")
  print(-b/(2*a))
else:
  print("Roots are complex")
  print(-b/(2*a), " + i", s)
  print(-b/(2*a), " - i", s)

Enter co-eff of x^2 1
Enter co-eff of x 2
Enter constant 1
Roots are real and same
-1.0

In [59]:
#Alternatively
import cmath
a=(int)(input("Enter co-eff of x^2 "))
b=(int)(input("Enter co-eff of x "))
c=(int)(input("Enter constant "))
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter co-eff of x^2 1
Enter co-eff of x 2
Enter constant 3
The solution are (-1-1.4142135623730951j) and (-1+1.4142135623730951j)

13)KIIT DU has following rules for grading 
system: 
http://coe.kiit.ac.in/examination-regulations.php#R1 
WAPP to enter your marks and credit of course of any 5 courses of 2 semesters through keyboard print the corresponding grade.

In [58]:
total_cre=0
total_index=0
for j in range(1,3):
  credit_index=0
  cre=0
  semester=int(input('enter the semester: '))
  for i in range(1,6):
    print('enter the marks and credit of subject',i)
    mark=int(input('Enter the mark:'))
    credit=int(input('Enter the credit:'))
    cre+=credit
    if(mark>=90 and mark<=100):
      point=10
    elif(mark>=80 and mark<=89):
      point=9
    elif(mark>=70 and mark<=79):
      point=8
    elif(mark>=60 and mark<=69):
      point=7
    elif(mark>=50 and mark<=59):
      point=6
    elif(mark>=40 and mark<=49):
      point=5
    else:
      point=2
    credit_point=credit*point
    credit_index+=credit_point
  total_cre+=cre
  total_index+=credit_index
  sgpa=credit_index/cre
  print('the sgpa is: ',sgpa)
cgpa=total_index/total_cre
print('the cgpa is: ',cgpa)

enter the semester: 1
enter the marks and credit of subject 1
Enter the mark:89
Enter the credit:2
enter the marks and credit of subject 2
Enter the mark:87
Enter the credit:3
enter the marks and credit of subject 3
Enter the mark:90
Enter the credit:4
enter the marks and credit of subject 4
Enter the mark:87
Enter the credit:2
enter the marks and credit of subject 5
Enter the mark:98
Enter the credit:2
the sgpa is:  9.461538461538462
enter the semester: 2
enter the marks and credit of subject 1
Enter the mark:76
Enter the credit:2
enter the marks and credit of subject 2
Enter the mark:76
Enter the credit:4
enter the marks and credit of subject 3
Enter the mark:89
Enter the credit:2
enter the marks and credit of subject 4
Enter the mark:76
Enter the credit:1
enter the marks and credit of subject 5
Enter the mark:75
Enter the credit:2
the sgpa is:  8.181818181818182
the cgpa is:  8.875

14)A student will not be allowed to sit an exam if his/her attendance is less than 70%. 
Take following input from user: 
● Number of classes held 
● Number of classes attended 
Print percentage of class attended and check if the student is allowed to sit in the exam or not.

In [33]:
a=(int)(input("Enter no of classes held "))
b=(int)(input("Enter no of classes attended"))
p=(b*100)/a
print("Percentage",p)
if p >=70:
  print("Allowed")
else:
  print("Not Allowed")

Enter no of classes held 4
Enter no of classes attended1
Percentage 25.0
Not Allowed

15)High Radius Company decided to give a bonus of 10% to employees if his/her year of service is more than 5 years. 
● Enter salary and year of service from the keyboard and print the net bonus amount. ● Determine oldest and youngest among 3 employees by taking input(from user) of their age.

In [45]:
s=(int)(input("Enter the salary: "))
a=(int)(input("Enter the year of service: "))
if a>5:
  print("Bonus= ",s+(s/10))
else:
  print("No net bonus")

print("Enter the 3 employees age:")
l1=[]
for i in range(0,3):
  n=(int)(input())
  l1.append(n)
l1.sort()
print("Youngest employee:",l1[0])
print("Eldest employee:",l1[2])
#print("Youngest employee: ",min(li))
#print("Eldest employee:",max(li))

Enter the salary: 3
Enter the year of service: 2
No net bonus
Enter the 3 employees age:
4
5
3
Youngest employee: 3
Eldest employee: 5

16) WAPP to convert a quantity in meter entered through keyboard into its equivalent kilometre and meter as per the following format. 
Example. 2430 meter = 2 Km and 430 meter.

In [46]:
d=(int)(input("Enter in metres "))
km=d//1000
m=d%1000
print(d,"metres=",km,"Kilometres",m,"metres")

Enter in metres 2430
2430 metrs= 2 Kilometres 430 metres

17)WAPP to print the sum of all prime numbers between 1 to n using a loop

In [49]:
n=(int)(input("Enter the number:"))
k=0
for i in range(2,n+1):
  c=0
  for j in range (1,i+1):
    if i%j==0:
      c+=1
  if c==2:
      k+=i
print("Prime Numbers: ",k)

Enter the number:5
Prime Numbers:  10

18)WAPP to display the reverse of a number entered through the keyboard.

In [51]:
n=input("Enter the number :")
r=''
for i in range(len(n), 0, -1):
  r+= n[i-1]
print(int(r))

Enter the number :234
432

19) WAPP to convert a decimal number into its equivalent number
with base b.Decimal number and b are the user input.

In [52]:
n=(int)(input("Enter the decimal: "))
b=(int)(input("Enter the base: "))
res = "" 
while (n > 0):
  a=n%b
  if (a >= 0 and a <= 9):
   s=chr(a+48)
  else:
   s= chr(a - 10 + 65)
  res += s
  n //= b
res = res[::-1]
print(res)

Enter the decimal: 10
Enter the base: 2
1010

20) WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)

In [53]:
n=(int)(input("Enter the number: "))
sum=0
for i in range(1,n+1):
  s=0
  for j in range(1,i+1):
    s=s+j
  sum=s+sum
print("Sum of the series :",sum)

Enter the number: 3
Sum of the series : 10